<h1>Listing options</h1>

<table>
  <tr>
    <th>email</th>
    <th>password</th>
    <th>number</th>
  </tr>

<% @options.each do |option| %>
  <tr>
    <td><%= option.email%></td>
    <td><%= option.password%></td>
    <td><%= option.number%></td>
  </tr>
<% end %>
</table>

<br />

